name: Upload Go test results

on:
  workflow_dispatch:
    inputs:
      ssh:
        description: 'SSH connection to Actions (true/false)'
        required: false
        default: 'false'

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - name: Test with Go
        run:  echo "123" > 123.txt
      - name: Upload Go test results
        uses: actions/upload-artifact@v4
        with:
          name: Go-results
          path: 123.txt
